<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">

    </div>
    <div class="table-search">
      <div class="table-search-left">
        <button *ngIf="authService.currentAppPermission.apiKey.create || authService.currentUser.admin"
                class="wayne-button normal"
                (click)="openModal()">
          {{'ACTION.CREATE' | translate}} APIKey
        </button>
      </div>
    </div>
    <create-edit-apikey (create)="createApiKey($event)"></create-edit-apikey>
    <list-apikey [apiKeys]="changedApiKeys"
                 (delete)="deleteApiKey($event)"
                 (edit)="editApiKey($event)"
                 (paginate)="retrieve($event)"
                 [page]="pageState.page"
                 [showState]="showState"
    ></list-apikey>
  </div>
</div>
