<div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-sm-12 clr-col-xs-12">
    <div class="clr-row flex-items-xs-between flex-items-xs-top" style="padding-left: 15px; padding-right: 15px;">

    </div>
    <create-edit-app-user (create)="createAppUser($event)"></create-edit-app-user>
    <div class="table-search">
      <div class="table-search-left">
        <button
          *ngIf="authService.currentNamespacePermission.appUser.create || authService.currentAppPermission.appUser.create || authService.currentUser.admin"
          class="wayne-button normal" (click)="openModal()">
          {{'USER.CONNECT_APP_USER' | translate}}
        </button>

      </div>
    </div>
    <list-app-user
      [appUsers]="changedAppUsers"
      [listType]="listType"
      (delete)="deleteAppUser($event)"
      (edit)="editAppUser($event)"
      (paginate)="retrieve($event)"
      [page]="pageState.page"
      [showState]="showState"
    ></list-app-user>
  </div>
</div>
